__pycache__
/data
/data/af2db
/data/cath
/data/ts
/data/gcndesign_dataset
/results
/mmseqs/*fasta
/mmseqs/*UP*
/mmseqs/tmp
/tmp
.vscode
.ipynb_checkpoints
./*.png
.*workspace
data.zip
wandb/
/best_results
valid-*.txt
/*.sh
